/* Hide scrollbars but allow scrolling */
.service_content,
.projects_content,
.contact_content {
    overflow-y: auto;
    height: 100vh;
    padding: 10px;
}

.service_content::-webkit-scrollbar,
.projects_content::-webkit-scrollbar,
.contact_content::-webkit-scrollbar {
    display: none;
}

.service_content,
.projects_content,
.contact_content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.service_row,
.projects_row,
.contact_wrapper {
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}

.service_row::-webkit-scrollbar,
.projects_row::-webkit-scrollbar,
.contact_wrapper::-webkit-scrollbar {
    display: none;
}