/* Responsive fixes and standard font sizes */

/* Base responsive adjustments */
@media (max-width: 1200px) {
    html {
        font-size: 58%;
    }
    
    .main_wrapper {
        padding-right: 20rem;
    }
    
    .head_text1 {
        font-size: 3.5rem;
    }
    
    .head_text2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 55%;
    }
    
    main aside {
        width: 200px;
    }
    
    .main_wrapper {
        width: calc(100% - 20rem);
        padding-right: 15rem;
    }
    
    .home_content {
        margin-top: 12rem;
        flex-direction: column;
        text-align: center;
    }
    
    .home_content .home_text,
    .home_content .home_img {
        width: 100%;
    }
    
    .about_row {
        flex-direction: column;
        gap: 2rem;
    }
    
    .about_row .about_col {
        width: 100%;
    }
    
    .service_col {
        width: 50%;
    }
}

/* Fix responsive conflicts */
@media (max-width: 768px) {
    .certificates-page {
        width: 100%;
        left: 0;
    }
    
    .service_col {
        width: 100%;
    }
    
    .project_col {
        width: 50%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 50%;
    }
    
    .main_wrapper .swiper {
        padding: 15px;
    }
    
    .head_text1 {
        font-size: 2.5rem;
    }
    
    .head_text2 {
        font-size: 1.8rem;
    }
    
    .service_item {
        padding: 2rem;
    }
    
    .service_item h3 {
        font-size: 1.6rem;
    }
    
    .service_item p {
        font-size: 1.2rem;
    }
}

/* Standard font size adjustments */
body {
    font-size: 1.6rem;
    line-height: 1.6;
}

p {
    font-size: 1.4rem;
    line-height: 1.5;
}

.head_text1 {
    font-size: 4rem;
    line-height: 1.2;
}

.head_text2 {
    font-size: 3rem;
    line-height: 1.3;
}

.service_item h3 {
    font-size: 2rem;
    line-height: 1.4;
}

.service_item p {
    font-size: 1.4rem;
    line-height: 1.5;
}

/* Fix navigation for mobile */
@media (max-width: 768px) {
    main aside ul li p {
        display: none;
    }
    
    main aside ul li:hover p {
        display: block;
        position: absolute;
        background: #212529;
        padding: 0.5rem;
        border-radius: 0.3rem;
        top: 100%;
        white-space: nowrap;
        z-index: 1000;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 52%;
    }
    
    main {
        flex-direction: column;
    }
    
    main aside {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem 0;
    }
    
    main aside ul {
        display: flex;
        padding: 0 1rem;
        gap: 1rem;
    }
    
    main aside ul li {
        padding-bottom: 0;
        flex-direction: column;
        text-align: center;
    }
    
    main aside ul li p {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    
    main aside ul li i {
        margin-right: 0;
        font-size: 2rem;
    }
    
    .main_wrapper {
        width: 100%;
        padding-right: 0;
    }
    
    .home_content {
        margin-top: 5rem;
    }
    
    .head_text1 {
        font-size: 3rem;
    }
    
    .head_text2 {
        font-size: 2rem;
    }
    
    .about_content,
    .service_content,
    .contact_content {
        margin-top: 5rem;
    }
}